.progress {
  background: #EEF8DA;
  border: solid 1px #99CE28;
}

.progress-bar {
  background: #99CE28;
}

.wd-0 {
  width: 0%;
}

.wd-25 {
  width: 25%;
}

.wd-50 {
  width: 50%;
}

.wd-75 {
  width: 75%;
}

.wd-100 {
  width: 100%;
}
